tqdm==4.52.0
numpy==1.18.5
pandas==1.1.4
sklearn==0.23.2
torch==1.6.0
sentence_transformers==1.1.0
re==2.2.1
collections
csv==1.0
sys
json==2.0.9
glob
bz2
os
logging==0.5.1.2
math
random
re==2.2.1
gzip

